<!DOCTYPE HTML>
<html>
  <head>

    <link href="./static/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <section class="container">
    <h1 class="title h1"><a href="/">Stoic excercise</a></h1>
    <h3 class="lead"> Read the quote and write your thoughts. </h3>
    <h4><a href="/quotes">All quotes</a></h4>

    <div class="row gx-2 gy-2">

      <div class="card col-md">
        <img src="/imgsvg" class="card-img" alt="random graphics"/>
        <div class="card-body">
        <h4>Stoic quote for today:</h4>
          {{if not .Addquote  }}
           <figure>
              <blockquote class="blockquote">
                <p>{{.Text}}</p>
              </blockquote>
              <figcaption class="blockquote-footer">
                {{.Author}}
              </figcaption>
            </figure>
            <div class="d-grid gap-2 d-flex">
              <form action="/" method="get" >
              <input
                type="submit"
                class="btn btn-primary"
                value="Next"/>
              </form>
              <form action="/addquote" method="get" >
                <input
                  type="submit"
                  class="btn btn-warning"
                  value="Add"/>
              </form>
            </div>
            <div class="mb-3">
              {{ $msg := index .Message "save" }}
              {{with  $msg }}
                    <div id="validationServerMessageSave" class="is-invalid mb-3">
                      Error while saving quote: {{ . }}
                    </div>
              {{end}}
            </div>
          {{else}}
            <form action="/addquote" method="post">
              <div class="mb-3">
                {{ $msg := index .Message "text"}}
                <label for="validationQuote" class="form-label">Quote</label>
                <textarea
                class="form-control card-text
                  {{if $msg }} is-invalid {{else}} is-valid {{end}}"
                id="validationQuote"
                name="quote"
                rows="5"
                placeholder="Quote..."
                aria-label="new quote entry textarea"
                aria-describedby="validationServerMessageText"
                required
                >{{.Text}}</textarea>

                {{with  $msg }}
                <div id="validationServerMessageText" class="invalid-feedback mb-3">
                  {{ .  }}
                </div>
                {{end}}
              </div>
              <div class="mb-3">
                {{ $msg = index .Message "author"}}
                <label for="validationAuthor" class="form-label">Author</label>
                <input
                  type="text"
                  class="form-control card-text
                  {{if $msg }} is-invalid {{else}} is-valid {{end}}"
                  id="validationAuthor"
                  name="author"
                  placeholder="Author name"
                  aria-describedby="validationServerMessageAuthor"
                  value="{{.Author}}"
                  required
                />

                {{with  $msg }}
                  <div id="validationServerMessageAuthor" class="invalid-feedback mb-3">
                    {{ .  }}
                  </div>
                {{end}}

              </div>
              <div class="mb-3">
                {{ $msg = index .Message "save" }}
                <input
                  type="submit"
                  class="btn btn-primary
                  {{if $msg }} is-invalid {{else}} is-valid {{end}}"
                  aria-describedby="validationServerMessageSave"
                  value="Save"/>

              </div>
            </form>
          {{end}}
        </div>
      </div>

      <div class="card col-md">
        <img src="/imgsvg" class="card-img" alt="random graphics"/>
        <div class="card-body">
        <h5 class="card-title">Write</h5>
          <form action="/add" method="POST">
          <textarea
            class="form-control card-text mb-3"
            id="thought"
            name="thought"
            rows="5"
            placeholder="Leave some thoughts here..."
            aria-label="With textarea"
            required></textarea>

            <input type="submit" class="btn btn-primary" {{ if .Addquote }} disabled {{ end }} value="Save"/>
            <input name="quoteid" type="hidden" id="quoteid" value="{{ .Id }}"/>
          </form>
        </div>
      </div>
    </div>
  </section>

  </body>
</html>
